Packs/ParserGenerator/AMP_Lookup/Enrichment_-_Alerts_Count_v2.yml
id: ccbad8e5-43ef-48eb-8d7b-aac2d4a4b889
version: 24
vcShouldKeepItemLegacyProdMachine: false
name: Enrichment - Alerts Count
description: This playbook enriches the incident details with the realted Notables
  count based on Username,accountid,hostname etc.
tags:
- Enrichment
- latest
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: fa45fc9c-e37d-4302-86c3-380cf87a667e
    type: start
    task:
      id: fa45fc9c-e37d-4302-86c3-380cf87a667e
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 65
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 818a3ef4-07ce-4019-8f93-5a6d7d96bbc4
    type: regular
    task:
      id: 818a3ef4-07ce-4019-8f93-5a6d7d96bbc4
      version: -1
      name: Search Alerts for same user
      description: "Searches Cortex XSIAM Alerts and returnrs the most relevant fields.
        Default search range is the last 30 days, if you want to change this, use
        the fromDate argument. \n\nReturns the id, name, type, severity, status, owner,
        and created/closed times to context.  You can add additional fields using
        the add_field_to_context argument.\n\nThis automation runs using the default
        Limited User role, unless you explicitly change the permissions.  Based on
        the SearchAlertsV2 from the Common Scripts pack, but more efficient."
      scriptName: SearchAlertsSummary
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      query:
        simple: username:${alert.username}  -name:"${alert.name}"
      searchresultslabel:
        simple: username_search
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 400
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: e81fd0cf-d10f-4670-87e6-3a459e1f2a85
    type: regular
    task:
      id: e81fd0cf-d10f-4670-87e6-3a459e1f2a85
      version: -1
      name: Set User notable count
      scriptName: SetContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "11"
    scriptarguments:
      key:
        simple: user_notable_count
      value:
        complex:
          root: foundIncidents
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: foundIncidents.searchResultsLabel
                iscontext: true
              right:
                value:
                  simple: username_search
          accessor: id
          transformers:
          - operator: count
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 575
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 46a133c5-0b57-4c9d-82ec-54cb38a9ba97
    type: regular
    task:
      id: 46a133c5-0b57-4c9d-82ec-54cb38a9ba97
      version: -1
      name: Search Alert for same AWS account
      description: "Searches Cortex XSIAM Alerts and returnrs the most relevant fields.
        Default search range is the last 30 days, if you want to change this, use
        the fromDate argument. \n\nReturns the id, name, type, severity, status, owner,
        and created/closed times to context.  You can add additional fields using
        the add_field_to_context argument.\n\nThis automation runs using the default
        Limited User role, unless you explicitly change the permissions.  Based on
        the SearchAlertsV2 from the Common Scripts pack, but more efficient."
      scriptName: SearchAlertsSummary
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      query:
        simple: awsaccountid:"${alert.awsaccountid}"  -name:"${alert.name}"
      searchresultslabel:
        simple: accountid_search
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1100
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 1d87fa1b-d16b-4a39-8aa4-3703741ba3a9
    type: regular
    task:
      id: 1d87fa1b-d16b-4a39-8aa4-3703741ba3a9
      version: -1
      name: Set Account notable count
      scriptName: SetContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      key:
        simple: account_notable_count
      value:
        complex:
          root: foundIncidents
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: foundIncidents.searchResultsLabel
                iscontext: true
              right:
                value:
                  simple: accountid_search
          accessor: id
          transformers:
          - operator: count
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1275
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: c671d4c8-fde7-40fd-846e-69435b0311d2
    type: condition
    task:
      id: c671d4c8-fde7-40fd-846e-69435b0311d2
      version: -1
      name: If username is available
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "1"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: alert.username
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 225
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: 11741cae-4cf8-4757-8dce-c2bfb1101252
    type: condition
    task:
      id: 11741cae-4cf8-4757-8dce-c2bfb1101252
      version: -1
      name: If account id is available
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "3"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: alert.awsaccountid
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 925
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 6f900e79-5ff0-46a3-8ad2-5ca10fff5e5a
    type: regular
    task:
      id: 6f900e79-5ff0-46a3-8ad2-5ca10fff5e5a
      version: -1
      name: Set Context
      scriptName: SetContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      key:
        simple: user_notable
      value:
        simple: No username available to enrich
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 750
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: e1540aa1-2c5c-48c8-8f15-e927ce64f7a1
    type: regular
    task:
      id: e1540aa1-2c5c-48c8-8f15-e927ce64f7a1
      version: -1
      name: Set Context
      scriptName: SetContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "10"
    scriptarguments:
      key:
        simple: account_notable
      value:
        simple: No account available to enrich
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1450
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: 4a32f0ab-f862-4527-8b78-463351cdfccc
    type: title
    task:
      id: 4a32f0ab-f862-4527-8b78-463351cdfccc
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1625
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: e0742a3f-12c9-4b00-8f5a-3d77822939a7
    type: regular
    task:
      id: e0742a3f-12c9-4b00-8f5a-3d77822939a7
      version: -1
      name: Set user_notable
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      key:
        simple: user_notable
      value:
        simple: ${user_notable_count} alerts are observed for the same user - ${alert.username}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 750
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: 4732891f-4bb1-46f6-827e-37a0c9799eea
    type: regular
    task:
      id: 4732891f-4bb1-46f6-827e-37a0c9799eea
      version: -1
      name: Set account_notable
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "10"
    scriptarguments:
      key:
        simple: account_notable
      value:
        simple: ${account_notable_count} alerts are observed for the same account
          - ${alert.awsaccountid}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1450
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1625,
        "width": 810,
        "x": 50,
        "y": 65
      }
    }
  }
inputs: []
outputs:
- contextPath: user_notable
  description: The results of the Splunk search. The results are a JSON array, in
    which each item is a Splunk event.
- contextPath: account_notable
  description: The results of the Splunk search. The results are a JSON array, in
    which each item is a Splunk event.
dirtyInputs: true
