Packs/ParserGenerator/otml_playbooks/OTML_-_Process_Phishing_Email.yml
id: 467f756b-3040-407f-8129-6a1f969e4411
version: 48
vcShouldKeepItemLegacyProdMachine: false
name: OTML - Process Phishing Email
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 5405f0c5-21d8-4d4e-81c0-e2a2bed971de
    type: start
    task:
      id: 5405f0c5-21d8-4d4e-81c0-e2a2bed971de
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "15"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: bab5d0ff-c5a9-40cb-8508-f792dc91ae6e
    type: playbook
    task:
      id: bab5d0ff-c5a9-40cb-8508-f792dc91ae6e
      version: -1
      name: OTML - User and Mailbox Enrichment
      playbookName: OTML - User and Mailbox Enrichment
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      email_address:
        simple: ${recipient}
      email_subject:
        simple: ${inputs.message.Subject}
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1040
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: c0a80e4c-e44d-4a9b-8a09-076b5d44e981
    type: regular
    task:
      id: c0a80e4c-e44d-4a9b-8a09-076b5d44e981
      version: -1
      name: Display result
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      value:
        simple: |-
          | Subject        | Sender       | Recipient    | Time   |
          | -------------- | ------------ | ------------ | ---------- |
          | ${inputs.message.Subject}  | ${sender} | ${recipient} | ${inputs.message._time} |
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1215
        }
      }
    note: true
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: b2071a47-5ed9-4d30-8f62-70301e54ab65
    type: title
    task:
      id: b2071a47-5ed9-4d30-8f62-70301e54ab65
      version: -1
      name: Remediation
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "8"
      - "18"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1370,
          "y": 1565
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 2863db29-2aff-432b-8fa4-31f6a8fc4789
    type: playbook
    task:
      id: 2863db29-2aff-432b-8fa4-31f6a8fc4789
      version: -1
      name: Search And Delete Emails - O365
      description: 'This playbook searches and deletes emails with similar attributes
        of a malicious email using one of the following integrations: * EWS * Office
        365 * Gmail * Agari Phishing Defense.'
      playbookName: Search And Delete Emails - Generic v2
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      AttachmentName:
        complex:
          root: alert
          accessor: attachmentname
      From:
        simple: ${sender}
      O365AllowNotFoundExchangeLocations:
        simple: "False"
      O365DeleteType:
        simple: Soft
      O365ExchangeLocation:
        simple: ${recipient}
      SearchAndDeleteIntegration:
        simple: O365
      SearchThisWeek:
        simple: "true"
      Subject:
        simple: ${inputs.message.Subject}
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 2650,
          "y": 1850
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: e74efc8a-2a0e-41f5-8ba7-32f2d6ac3c90
    type: title
    task:
      id: e74efc8a-2a0e-41f5-8ba7-32f2d6ac3c90
      version: -1
      name: End remediation
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "16"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1912.5,
          "y": 2060
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: e647d908-c83f-4904-8781-43ec8b7d9ef8
    type: playbook
    task:
      id: e647d908-c83f-4904-8781-43ec8b7d9ef8
      version: -1
      name: OTML - Block Sender
      playbookName: OTML - Block Sender
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      email_address:
        simple: ${sender}
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 1482.5,
          "y": 1885
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: f43d3b13-6eb9-452d-8417-a2b20390d963
    type: regular
    task:
      id: f43d3b13-6eb9-452d-8417-a2b20390d963
      version: -1
      name: Add URL to Block EDL
      description: commands.local.cmd.set.indicator
      script: Builtin|||setIndicator
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      tags:
        simple: block
      value:
        simple: ${alert.detectionurl}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1912.5,
          "y": 1885
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: cf5dce6d-df43-4096-89fc-f9047841509f
    type: condition
    task:
      id: cf5dce6d-df43-4096-89fc-f9047841509f
      version: -1
      name: O365 or On-prem Exchange
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "6"
      o365:
      - "5"
      onprem:
      - "10"
    separatecontext: false
    conditions:
    - label: o365
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: mailbox_location
            iscontext: true
          right:
            value:
              simple: Cloud
    - label: onprem
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: mailbox_location
            iscontext: true
          right:
            value:
              simple: OnPrem
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2400,
          "y": 1630
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: f83ebc63-f5f1-42fc-8b44-3bbd0cab5d9f
    type: playbook
    task:
      id: f83ebc63-f5f1-42fc-8b44-3bbd0cab5d9f
      version: -1
      name: Search And Delete Emails - Exchange
      description: 'This playbook searches and deletes emails with similar attributes
        of a malicious email using one of the following integrations: * EWS * Office
        365 * Gmail * Agari Phishing Defense.'
      playbookName: Search And Delete Emails - Generic v2
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      AttachmentName:
        complex:
          root: alert
          accessor: attachmentname
      From:
        simple: ${sender}
      O365AllowNotFoundExchangeLocations:
        simple: "False"
      O365DeleteType:
        simple: Soft
      O365ExchangeLocation:
        simple: All
      SearchAndDeleteIntegration:
        simple: ${recipient}
      SearchThisWeek:
        simple: "true"
      Subject:
        simple: ${inputs.message.Subject}
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 3060,
          "y": 1850
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: 65ec5a98-938c-427f-8dcd-87253b35857c
    type: condition
    task:
      id: 65ec5a98-938c-427f-8dcd-87253b35857c
      version: -1
      name: Remediate?
      description: Please confirm the incident that needs to be remediate
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "No":
      - "17"
      "Yes":
      - "4"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    message:
      to: null
      subject: null
      body:
        simple: |-
          Remediate the phishing email?
          - Subject: ${inputs.message.Subject}
          - Sender: ${sender}
          - Recipient: ${recipient}
      methods: []
      format: ""
      bcc: null
      cc: null
      timings:
        retriescount: 2
        retriesinterval: 360
        completeafterreplies: 1
        completeafterv2: true
        completeaftersla: false
      replyOptions:
      - "Yes"
      - "No"
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: b3be7289-d149-4c99-83f3-8165fd427be3
    type: condition
    task:
      id: b3be7289-d149-4c99-83f3-8165fd427be3
      version: -1
      name: Recipient is Ok Tedi?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "17"
      "yes":
      - "20"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: containsGeneral
          left:
            value:
              simple: recipient
            iscontext: true
          right:
            value:
              simple: oktedi.com
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: 9179f2f0-5189-4be9-8ef7-5eca5370d45a
    type: title
    task:
      id: 9179f2f0-5189-4be9-8ef7-5eca5370d45a
      version: -1
      name: Process
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "15":
    id: "15"
    taskid: 1e79e787-c6c5-4f17-84d8-570c54e52db5
    type: regular
    task:
      id: 1e79e787-c6c5-4f17-84d8-570c54e52db5
      version: -1
      name: Delete Context
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "21"
      - "22"
    scriptarguments:
      all:
        simple: "yes"
      keysToKeep:
        simple: ProcessedSender,ProcessedRecipient
      subplaybook:
        simple: "yes"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: befe58e6-8c93-4b5e-8d3c-70eed2b59d41
    type: regular
    task:
      id: befe58e6-8c93-4b5e-8d3c-70eed2b59d41
      version: -1
      name: Mark processed Sender
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: ProcessedSender
      value:
        simple: ${sender}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1912.5,
          "y": 2205
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: 64897668-86f7-43d4-87e2-fbf6b6a1f9c1
    type: title
    task:
      id: 64897668-86f7-43d4-87e2-fbf6b6a1f9c1
      version: -1
      name: End
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 827.5,
          "y": 2555
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: ab8caf30-777c-4c6c-88c7-21e2dc46f499
    type: condition
    task:
      id: ab8caf30-777c-4c6c-88c7-21e2dc46f499
      version: -1
      name: Check if the sender was processed
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "17"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: containsGeneral
          left:
            value:
              simple: ProcessedSender
            iscontext: true
          right:
            value:
              simple: sender
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1155,
          "y": 1710
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: 04675ec1-f3da-4deb-8858-df28375f1354
    type: regular
    task:
      id: 04675ec1-f3da-4deb-8858-df28375f1354
      version: -1
      name: Mark processed recipient
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: ProcessedRecipient
      value:
        simple: ${recipient}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1912.5,
          "y": 2380
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "20":
    id: "20"
    taskid: 5803c91a-fa18-4f56-8cda-eb49e8ed96fc
    type: condition
    task:
      id: 5803c91a-fa18-4f56-8cda-eb49e8ed96fc
      version: -1
      name: Check if the sender and recipient were processed
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "14"
      "yes":
      - "17"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: containsGeneral
          left:
            value:
              simple: ProcessedSender
            iscontext: true
          right:
            value:
              simple: sender
            iscontext: true
      - - operator: containsGeneral
          left:
            value:
              simple: ProcessedRecipient
            iscontext: true
          right:
            value:
              simple: recipient
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "21":
    id: "21"
    taskid: a99d6b5e-2cc2-4323-8454-0ce982adbd92
    type: regular
    task:
      id: a99d6b5e-2cc2-4323-8454-0ce982adbd92
      version: -1
      name: Set Rcpt
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      key:
        simple: recipient
      value:
        complex:
          root: inputs.message
          accessor: Rcpt
          transformers:
          - operator: RegexExtractAll
            args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: '[^\"\''\[\],]+'
              unpack_matches: {}
          - operator: FirstArrayElement
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 380,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "22":
    id: "22"
    taskid: 941cc66b-da76-4baf-869b-c0609dd60e6b
    type: regular
    task:
      id: 941cc66b-da76-4baf-869b-c0609dd60e6b
      version: -1
      name: Set Sender
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      key:
        simple: sender
      value:
        simple: ${inputs.message.Sender}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 790,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {
      "13_17_#default#": 0.5,
      "9_10_onprem": 0.9
    },
    "paper": {
      "dimensions": {
        "height": 2570,
        "width": 3175,
        "x": 265,
        "y": 50
      }
    }
  }
inputs:
- key: message
  value: {}
  required: false
  description: ""
  playbookInputQuery: null
inputSections:
- inputs:
  - message
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs:
  - Mimecast
  - File
  name: General (Outputs group)
  description: Generic group for outputs
outputs:
- contextPath: Mimecast
  type: unknown
- contextPath: File
  type: unknown
dirtyInputs: true
