Packs/ParserGenerator/otml_playbooks/OTML_-_Azure_Risky_Sign_In_Handling.yml
id: 900b2515-f290-42c5-8f74-dd0acfafa85d
version: 36
vcShouldKeepItemLegacyProdMachine: false
name: OTML - Azure Risky Sign In Handling
tags:
- prod
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 340955c8-3bc4-4b8c-814a-903b58d41a4d
    type: start
    task:
      id: 340955c8-3bc4-4b8c-814a-903b58d41a4d
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 580bbf2c-57ae-4e8c-8ee6-e334a2932108
    type: regular
    task:
      id: 580bbf2c-57ae-4e8c-8ee6-e334a2932108
      version: -1
      name: Check Sign-In IP address in Threat Intel
      description: |-
        Searches Cortex XSIAM Indicators.

        Search for XSOAR Indicators and returns the id, indicator_type, value, and score/verdict.

        You can add additional fields from the indicators using the add_field_to_context argument.
      scriptName: SearchIndicator
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      query:
        simple: type:IP value:${inputs.source_ip}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 195
        }
      }
    note: true
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: bd4885eb-8295-4484-87f3-cdae31f9a717
    type: regular
    task:
      id: bd4885eb-8295-4484-87f3-cdae31f9a717
      version: -1
      name: Revoke User session
      description: |-
        Revoke a user session- Invalidates all the refresh tokens issued to applications for a user.
        Permission: Directory.AccessAsUser.All(Delegated).
      script: '|||msgraph-user-session-revoke'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      user:
        simple: ${inputs.user}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 8b388e27-b349-484d-80c0-b094fc71ec98
    type: regular
    task:
      id: 8b388e27-b349-484d-80c0-b094fc71ec98
      version: -1
      name: Search User Login History
      description: |-
        Execute an XQL query and retrieve results of an executed XQL query API. The command will be executed every 10 seconds until results are retrieved or until a timeout error is raised.
        When more than 1000 results are retrieved, the command will return a compressed gzipped JSON format file,
        unless the argument 'parse_result_file_to_context' is set to true and then the results will be extracted to the context.
      script: Cortex XDR - XQL Query Engine_XSIAM|||xdr-xql-generic-query
      type: regular
      iscommand: true
      brand: Cortex XDR - XQL Query Engine_XSIAM
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      query:
        simple: "config timeframe = 24h\n| dataset = msft_o365_azure_ad_raw \n| filter
          Operation contains \"UserLog\"\n| filter UserId = \"${inputs.user}\"\n|
          comp count(if(Operation contains \"Failed\", true)) as failures, count(if(Operation
          = \"UserLoggedIn\", true)) as successes"
      query_name:
        simple: User Login History
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 21c35511-8381-4a64-8c1f-bae14bc6db5f
    type: condition
    task:
      id: 21c35511-8381-4a64-8c1f-bae14bc6db5f
      version: -1
      name: Many Failed attempt?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "24"
      "yes":
      - "9"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: PaloAltoNetworksXQL.GenericQuery.results.failures
            iscontext: true
          right:
            value:
              simple: "5"
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: d92e69d3-3f34-4c5c-8338-5b1058225b91
    type: regular
    task:
      id: d92e69d3-3f34-4c5c-8338-5b1058225b91
      version: -1
      name: Get Manager
      description: Retrieves detailed information about a user account. The user can
        be specified by name, email address, or as an Active Directory Distinguished
        Name (DN). If no filter is specified, all users are returned.
      script: '|||ad-get-user'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "22"
    scriptarguments:
      email:
        simple: ${inputs.user}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    fieldMapping:
    - incidentfield: sAMAccountName
      output:
        simple: ${ActiveDirectory.Users.sAMAccountName}
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: fee73c21-ecc9-4eca-8f75-aa96417b2afc
    type: regular
    task:
      id: fee73c21-ecc9-4eca-8f75-aa96417b2afc
      version: -1
      name: Send email to manager and cc OTML service desk
      description: commands.server.mail.sendmail
      script: mail-sender|||send-mail
      type: regular
      iscommand: true
      brand: mail-sender
    nexttasks:
      '#none#':
      - "10"
    scriptarguments:
      body:
        simple: There are ${PaloAltoNetworksXQL.GenericQuery.results.failures}  failed
          login attempts from user ${inputs.user}
      cc:
        simple: ICT-Enterprise-Systems@oktedi.com
      subject:
        simple: Many failed login attempts from user ${inputs.user}
      to:
        simple: ${ActiveDirectory.Users.[1].mail}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1420
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 05efd258-97bc-407e-895e-fb92ed940363
    type: regular
    task:
      id: 05efd258-97bc-407e-895e-fb92ed940363
      version: -1
      name: Close
      description: commands.local.cmd.close.inv
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: 687496c7-e4d0-4d04-8b2d-8de3ee9a32c3
    type: title
    task:
      id: 687496c7-e4d0-4d04-8b2d-8de3ee9a32c3
      version: -1
      name: Send email to manager
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "6"
      - "21"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 695,
          "y": 910
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: a67ca5ce-aebb-445e-8d90-2def53c644ad
    type: title
    task:
      id: a67ca5ce-aebb-445e-8d90-2def53c644ad
      version: -1
      name: Investigation
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "11"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 695,
          "y": 1595
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: c0b16ae2-120b-45b4-8de6-9bd851cfb7fd
    type: regular
    task:
      id: c0b16ae2-120b-45b4-8de6-9bd851cfb7fd
      version: -1
      name: Search Graph Security for Phishing allowed alert
      description: |-
        Execute an XQL query and retrieve results of an executed XQL query API. The command will be executed every 10 seconds until results are retrieved or until a timeout error is raised.
        When more than 1000 results are retrieved, the command will return a compressed gzipped JSON format file,
        unless the argument 'parse_result_file_to_context' is set to true and then the results will be extracted to the context.
      script: Cortex XDR - XQL Query Engine_XSIAM|||xdr-xql-generic-query
      type: regular
      iscommand: true
      brand: Cortex XDR - XQL Query Engine_XSIAM
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      query:
        simple: "config timeframe = 24h\n| dataset = msft_graph_security_alerts_raw
          \n| filter title contains \"Phishing allowed by an IP policy\" \n| filter
          evidence contains \"${inputs.user}\"\n| fields title, evidence"
      query_name:
        simple: Check Email Sent to User
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 695,
          "y": 1740
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: 83d98754-f3f9-4c24-8521-ed37471baf3b
    type: condition
    task:
      id: 83d98754-f3f9-4c24-8521-ed37471baf3b
      version: -1
      name: If user has Phishing allowed by IP Policy
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "14"
      "yes":
      - "23"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: PaloAltoNetworksXQL.GenericQuery.results
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 695,
          "y": 1915
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: 22f07040-e443-4516-8337-1f5620010d39
    type: regular
    task:
      id: 22f07040-e443-4516-8337-1f5620010d39
      version: -1
      name: Find traffic from user to High Risk URL
      description: |-
        Execute an XQL query and retrieve results of an executed XQL query API. The command will be executed every 10 seconds until results are retrieved or until a timeout error is raised.
        When more than 1000 results are retrieved, the command will return a compressed gzipped JSON format file,
        unless the argument 'parse_result_file_to_context' is set to true and then the results will be extracted to the context.
      script: '|||xdr-xql-generic-query'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "15"
    scriptarguments:
      query:
        simple: |-
          dataset = panw_ngfw_url_raw
          | filter source_user contains "${alert.samaccountname}"
          | filter url_category in (dataset = high_risk_url_category_list_by_vendor_lookup | fields url_category)
          | dedup url_category, uri
          | fields url_category, uri
      query_name:
        simple: Find traffic to high risk URLs
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2090
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "15":
    id: "15"
    taskid: 3d5b147d-e596-4e28-88b1-9c5bd645af25
    type: condition
    task:
      id: 3d5b147d-e596-4e28-88b1-9c5bd645af25
      version: -1
      name: Check if category is Phishing
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "16"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: containsGeneral
          left:
            value:
              simple: PaloAltoNetworksXQL.GenericQuery.results.url_category
            iscontext: true
          right:
            value:
              simple: Phishing
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2265
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: cd3bee40-4acc-49f4-8cb2-f5a656dc153a
    type: title
    task:
      id: cd3bee40-4acc-49f4-8cb2-f5a656dc153a
      version: -1
      name: Phishing remediation
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "19"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 470,
          "y": 2455
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: b77d4bfc-6e7e-427b-8c96-6f0a698aefe3
    type: regular
    task:
      id: b77d4bfc-6e7e-427b-8c96-6f0a698aefe3
      version: -1
      name: Close
      description: commands.local.cmd.close.inv
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 2615
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: 69d18c52-2137-43cf-88d5-d8fb1cf291c6
    type: playbook
    task:
      id: 69d18c52-2137-43cf-88d5-d8fb1cf291c6
      version: -1
      name: OTML - Phishing URL Handling - Main playbook
      playbookName: OTML - Phishing URL Handling - Main playbook
      type: playbook
      iscommand: false
      brand: ""
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 470,
          "y": 2790
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: 3e41f2fc-07e1-46b6-89b2-8663677947e5
    type: regular
    task:
      id: 3e41f2fc-07e1-46b6-89b2-8663677947e5
      version: -1
      name: Set alert URL information
      description: commands.local.cmd.set.incident
      script: Builtin|||setAlert
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "18"
    scriptarguments:
      detectionurl:
        complex:
          root: PaloAltoNetworksXQL.GenericQuery.results
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: PaloAltoNetworksXQL.GenericQuery.results.url_category
                iscontext: true
              right:
                value:
                  simple: Phishing
          accessor: uri
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 470,
          "y": 2615
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "21":
    id: "21"
    taskid: ee82c54a-0c14-47f5-8301-251b1dc6d6e3
    type: regular
    task:
      id: ee82c54a-0c14-47f5-8301-251b1dc6d6e3
      version: -1
      name: Password reset
      description: |-
        Changes the user password.
        Supported only in a self deployed app flow with the Permission: Directory.AccessAsUser.All(Delegated).
      script: '|||msgraph-user-change-password'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "10"
    scriptarguments:
      force_change_password_next_sign_in:
        simple: "true"
      force_change_password_with_mfa:
        simple: "true"
      password:
        simple: "12345678"
      user:
        simple: ${inputs.user}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1420
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "22":
    id: "22"
    taskid: 330caef5-fa69-444c-8e58-dcb9c8ba0fb1
    type: regular
    task:
      id: 330caef5-fa69-444c-8e58-dcb9c8ba0fb1
      version: -1
      name: Get Manager Email
      description: Retrieves detailed information about a user account. The user can
        be specified by name, email address, or as an Active Directory Distinguished
        Name (DN). If no filter is specified, all users are returned.
      script: '|||ad-get-user'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      name:
        complex:
          root: ActiveDirectory.Users
          accessor: manager
          transformers:
          - operator: split
            args:
              delimiter:
                value:
                  simple: OU=
          - operator: FirstArrayElement
          - operator: RegexExtractAll
            args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: CN=(.+),
              unpack_matches: {}
          - operator: replace
            args:
              limit: {}
              replaceWith: {}
              toReplace:
                value:
                  simple: \
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1245
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    fieldMapping:
    - incidentfield: Manager Email Address
      output:
        simple: ${ActiveDirectory.Users.mail}
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "23":
    id: "23"
    taskid: 9b8e8cf8-cddb-40ed-8de3-8e713fd75f35
    type: regular
    task:
      id: 9b8e8cf8-cddb-40ed-8de3-8e713fd75f35
      version: -1
      name: Print
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "25"
    scriptarguments:
      value:
        simple: User ${inputs.user} has Phishing allowed by an IP policy alert in
          O365
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 920,
          "y": 2265
        }
      }
    note: true
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "24":
    id: "24"
    taskid: 2c4cc73f-0fca-429d-842d-c57d81272c19
    type: playbook
    task:
      id: 2c4cc73f-0fca-429d-842d-c57d81272c19
      version: -1
      name: OTML - Close Jira Ticket
      playbookName: OTML - Close Jira Ticket
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "8"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "25":
    id: "25"
    taskid: e1036657-d637-43f0-8cfe-bfefeb1f96e7
    type: playbook
    task:
      id: e1036657-d637-43f0-8cfe-bfefeb1f96e7
      version: -1
      name: OTML - Close Jira Ticket
      playbookName: OTML - Close Jira Ticket
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "17"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 2440
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {
      "5_24_#default#": 0.85
    },
    "paper": {
      "dimensions": {
        "height": 2835,
        "width": 1250,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: source_ip
  value:
    simple: ${alert.localip}
  required: false
  description: ""
  playbookInputQuery: null
- key: user
  value:
    simple: ${alert.userid}
  required: false
  description: ""
  playbookInputQuery: null
inputSections:
- inputs:
  - source_ip
  - user
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs: []
  name: General (Outputs group)
  description: Generic group for outputs
outputs: []
dirtyInputs: true
